.media {
    display: flex;
    align-items: center;

    .media-body {
        align-self: center;
        padding-left: 20px;

        a {
            color: #666666;
            transition: 0.5s;

            h4 {
                color: #001d38;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 6px;
                transition: all 0.3s linear;
            }
        }

        p {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 0px;
        }
    }
}

.post_item:not(:first-child) {
    margin-top: 20px;
}
