.variation_area {
    padding-top: 150px;
    padding-bottom: 114px;

    .single_travel {
        margin-bottom: 30px;

        h3 {
            font-size: 22px;
            font-weight: 400;
            color: #040E27;
            margin-bottom: 10px;
            margin-top: 41px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #6E6E6E;
        }
    }
}