.popular_places_area {
    padding-top: 142px;
    padding-bottom: 150px;
    background: #f7fafd;

    .more-places {

        margin-top: 40px;
            
        a {
            background: #FF4A52;
            padding: 13px 39px;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            border: none;
            border-radius: 5px;     
            line-height: 0;   
        }
    }
}




